.footer {
   padding: 15px 0;
   background-color: rgba(0, 0, 0, 0.8);
	&__link-row {
      display: flex;
      margin: 0px -5px;
	}

	&__link-element {
      padding: 0px 15px;
      flex: 0 1 25%;
      border-left: 1px solid #f9dd94;
	}
   &__link-element:last-child {
      border-right: 1px solid #f9dd94;
   }

	&__link-content {
	}

   &__link-content-title {
      text-transform: uppercase;
      font-size: 20px;
      color: #f9dd94;
   }


   &__links {
      width: 100%;
      display: flex;
      justify-content: center;
      justify-content: space-between;

   }
   &__links h2{
      display: flex;
      text-transform: uppercase;
      font-size: 25px;
      color: rgba(0, 0, 0, 0.5);
      
   }
   &__link-content li{
     padding-top: 5px;
     font-size: 20px;
      
   }

   &__link-content a:hover{
         display: inline-block;
         color: #f9dd94;
         background: linear-gradient(to left, #f69ec4, #f9dd94 100%);
         background-position: 0 100%;
         background-size: 100% 1px;
         background-repeat: repeat-x;

   }
   &__contacts {

   }
   &__contacts h2{
      padding-bottom: 5px;
   }
   &__contacts h2:hover{
      color:bisque;
      cursor: pointer;
   }

   &__social-row {
      display: flex;
      flex-direction: column;
   }
   &__social-element{
      text-align: center;
      padding-top: 15px;
      padding-bottom: 2.5px;
   }
   &__social-content img{
      width: 35px;
      height: auto;
   }

   .bottom {
      margin-bottom: 10px;
   }
}