@media (max-width: 1055px){
   .video-header {
    &__title { 
       font-size: 35px;
    }
   }
 }
 
 @media(max-width: 950px){
    .video-header {
       &__title { 
          font-size: 25px;
       }
       &__text {
          font-size: 15px;
       }
       &__logo {
          width: 150px;
          height: 70px;
       }
       &__menu-main {
         font-size: 15px;
      }
      &__menu-second {
         padding: 15px;
         flex: 0 1 50%;
         text-align: center;
         margin-bottom: 5px;
      }
       
   }
    .body {
       &__block-row {
          display: flex;
          flex-direction: column;
          align-items: center;
       }
 
 
       &__history-image {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
       }
       &__history-image img {
          padding: 5px;
       }
         &__title {
            font-size: 15px;
            letter-spacing: 10px;
         }
         &__text {
            font-size: 10px;
            letter-spacing: 10px;
         }
         &__news-mini {
            margin: 45px;
            flex-direction: column;
         }
         &__block-post img{
            width: 100%;
            height: 100%;
            object-fit: cover;
         }
         &__block-row-register {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
         }
    }
    .footer {
       padding: 10px 0 20px 0;
       &__link-row {
          display: flex;
          padding: 10px;
        }
        &__link-element, &__link-element:last-child{
         border: none;
         margin: 10px;
         }
        &__link-content-title {
           font-size: 12px;
           justify-content: center;
        }
        &__link-content a{
           font-size: 12px;
        }

        
        &__social {
          flex-direction: row;
          justify-content: center;
          align-items: center;
          margin: 0 auto;
        }
        &__social a:not(:last-child) {
           padding-right: 20px;
        }
       }
 }
 
 @media(max-width: 769px){
 
    .video-header {
       &__title { 
          font-size: 17px;
       }
       &__text {
          font-size: 10px;
       }
       &__logo {
          width: 120px;
          height: 70px;
       }
       &__menu {
          font-size: 11px;
          padding: 10px 10px;
       }
      }
 
    .body {
       width: 100%;
       &__title {
          font-size: 15px;
          letter-spacing: 10px;
       }
       &__text {
          font-size: 10px;
          letter-spacing: 10px;
       }
       &__news-mini {
          margin: 45px;
          flex-direction: column;
       }
       &__block-post img{
          width: 100%;
          height: 100%;
          object-fit: cover;
       }
       &__block-row-register {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
       }
    
    
       &__block-content-register {
          font-size: 12px;
       }
 
       &__block-row {
          display: flex;
          flex-direction: column;
          align-items: center;
       }
 
       &__history-image {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
       }
       &__history-image img {
          padding: 5px;
       }
    
    }
 
    .footer {
      &__link-row {
         display: flex;
         flex-direction: column;
         padding: 10px;
         justify-content: center;
         align-items: center;
         text-align: center;
       }
       &__link-element, &__link-element:last-child{
         margin: 10px;
         padding-bottom: 15px;
         border-bottom: 1px solid #f9dd94;
       }
       &__link-content-title {
          font-size: 20px;
          justify-content: center;
       }
       &__link-content a{
          font-size: 15px;
       }
       &__social {
         flex-direction: row;
         justify-content: center;
         align-items: center;
         margin: 0 auto;
       }
       &__social a:not(:last-child) {
          padding-right: 20px;
       }
      }
    }
 
    @media (max-width:540px) {
       .video-header {
          width: 100%;
          &__title { 
             letter-spacing: 10px;
             font-size: 25px;
             text-align: center;
          }
          &__text {
             font-size: 9px;
          }
          &__logo {
             width: 120px;
             height: 70px;
          }
          &__menu-main {
             display: flex;
             flex-wrap: wrap;
             font-size: 12px;
          }
          &__menu-second {
             padding: 5px;
             flex: 0 1 50%;
             text-align: center;
             margin-bottom: 5px;
          }
         }
         
       .header {
          &__body {
            margin-right: 0;
          }
          &__logo {
             display: none;
             justify-content: center;
             align-items: center;
             margin: 0 auto;
          }
          &__logo img{
             width: 70px;
             height: auto;
          }
 
          &__menu {
             &-main {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                font-size: 12px;
                margin-right: 0;
 
             }
             &-second {
                padding: 5px;
                flex: 0 1 37%;
                text-align: left;
                margin-bottom: 5px;
             }
          }
       }
 
       .body {
          width: 100%;
          &__title {
             font-size: 15px;
             letter-spacing: 10px;
          }
          &__text {
             font-size: 10px;
             letter-spacing: 10px;
          }
          &__news-mini {
             margin: 45px;
             flex-direction: column;
          }
          &__news {
             display: flex;
             flex-direction: column;
          }
          &__block {
             width: 300px;
          }
          &__block-post img{
             width: 100%;
             height: 100%;
             object-fit: cover;
          }
    
          &__event-nav {
             display: flex;
             flex-direction: column;
          }
    
          &__event-list li,span{  
             display: block;
             text-align: center;
             padding: 5px;
          }
          &__event-list #span::after{  
             content: "";
          }
 
          &__block-row {
             display: flex;
             flex-direction: column;
             align-items: center;
          }
 
          &__history-image {
             display: flex;
             flex-wrap: wrap;
             justify-content: center;
             align-items: center;
          }
       
          &__content img{
             width: 100%;
             height: auto;
          }
 
          &__map {
             width: 100%;
          }
 
          &__title-nav{
             display: flex;
             flex-wrap: wrap;
             justify-content: center;
          }
          &__title-nav input{
             flex: 0 1  40%;
          }
          &__history::before {
            content: "➥";
            margin-right: 5px;
          }
          &__history {
            text-indent: 10px;
            font-size: 16px;
            text-align: left;
            &-image {
               padding: 5px;
            }
            &-image img {
               width: 100%;
               height: auto;
            }
         }
       }
       .button {
          margin: 5px;
       }
       .footer {
         &__link-row {
            display: flex;
            flex-direction: column;
            text-align: center;
          }
          &__link-element, &__link-element:last-child{
            margin: 10px;
            padding-bottom: 15px;
            border-bottom: 1px solid #f9dd94;
  
         }
          &__link-content-title {
             font-size: 10px;
             justify-content: center;
          }
          &__link-content a{
             font-size: 12px;
          }
          &__social {
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
          }
          &__social a:not(:last-child) {
             padding-right: 20px;
          }
         }
 }
 
 @media (max-width:400px) {
    .header {
       &__body {

       }
       &__logo {
          display: block;
          justify-content: center;
          align-items: center;
          margin: 0 auto;
       }
       &__logo img{
          width: 70px;
          height: auto;
       }
 
       &__menu {
          &-main {
             display: flex;
             flex-wrap: wrap;
             justify-content: center;
             font-size: 10px;
             margin-right: 0;
 
          }
          &-second {
             padding: 5px;
             flex: 0 1 37%;
             text-align: left;
             margin-bottom: 3px;
          }
       
       }
 
    }
 
    .body {
       &__block-row-register {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
       }
    
       &__block-content-register {
          font-size: 9px;
       }
    }
    .footer {
      &__link-row {
         display: flex;
         flex-direction: column;
         text-align: center;
       }
       &__link-element, &__link-element:last-child{
          margin: 10px;
          padding-bottom: 15px;
          border-bottom: 1px solid #f9dd94;

       }
       &__link-content-title {
          font-size: 10px;
          justify-content: center;
       }
       &__link-content a{
          font-size: 12px;
       }
       &__social {
         flex-direction: row;
         justify-content: center;
         align-items: center;
         margin: 0 auto;
       }
       &__social a:not(:last-child) {
          padding-right: 20px;
       }
      }
 }